.buildpath
.project
.settings/
/node_modules
/vendor
.env
/build.xml
/phpdox.xml
/phpspec.yml
/build
/vendor/composer
.externalToolBuilders/
cache.properties
gulpfile.js
/nbproject
.metadata 
.settings
.idea
composer.lock
